# Compiled Object files
*.slo
*.lo
*.o
*.obj
bin/
build/

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
tcbvrp

# Mac
.DS_Store

#Visual C++ files and folders
Debug/
ipch/
*.opensdf
*.sdf
*.sln
*.suo
*.vcxproj*

#CLion files and folders
.idea
CMakeLists.txt


Results
cpplint.py
